 <ng-container *ngIf="list$ | async as list">
      <table mat-table [dataSource]="list" class="mat-elevation-z8">         <!-- Column 1 -->
        <ng-container matColumnDef="column1">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="selectProduct(element)">{{element.title}}</button>
          </td>
        </ng-container>
        <!-- Column 2 -->
        <ng-container matColumnDef="column2">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> <ng-container *ngIf="details$ | async">{{ element.category }}</ng-container> </td>
        </ng-container>
        <!-- Column 3 -->
        <ng-container matColumnDef="column3">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> <ng-container *ngIf="details$ | async">{{ element.price }}</ng-container> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['column1', 'column2','column3']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['column1', 'column2','column3'];"></tr>
      </table>
    </ng-container>
